/* shared style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* font-family: "Work Sans", sans-serif; */
h1,h2,h3,h4,h5,h6,p,a,ul,li,span,ol{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --background-color: #f1d5b4;
    --text-black-color: #131313;
    --halka-black: #727272;
}

.btn-shared{
    width: 180px;
    height: 50px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
}
.text-center{
    text-align: center;
}
/* shared style */


/* Navigation design for navbar start */
.header-section{
    background-color: var(--background-color);
}
.container{
    padding: 20px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.Navigation-option{
    display: flex;
    gap: 40px;
}
.brand-name h2{
    margin-top: 100px;
    font-size: 40px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    margin-bottom: 30px;
}
.explore-btn{
    margin-top: 30px;
}
/* Navigation design for navbar end */

/* brand image section */
.brand-image img{
    width: 1100px;
    height: 600px;
    margin-top: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
}
/* brand image section */